.panel-title a{
    color: #333;
    font-size: 17px;
    padding-left:10px;
}
.panel-title a:hover{
    text-decoration: underline;
}
.panel-heading{
    background-color: #f5f5f5;
    border :1px solid #ddd;

  
}
.panel-collapse
{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:5px 10px;
}
.panel{
    margin-top: 5px;
}
.panel-icon{
    padding-top: 10px;
    padding-right: 5px;
}

 

