.hentry {
    margin: 0 0 40px;
    background-color: #fff;
    box-shadow: 0 0 19px rgb(0 0 0 / 15%);
}

.padding-content {
    padding: 40px;
}
.entry-meta {
    color: #9e9e9e;
    font-size: 12px;
}
.entry-meta a {
    color: #9e9e9e;
    margin-left: 2px;
}
.list-inline{padding-left: 0;
    margin-left: -5px;
    list-style: none;
    }
.list-inline li {display:inline-flex;
    padding-right: 4px;
    padding-left: 4px;font-size:12px;line-height:23px;
}
.list-inline li a:hover{
    color: #00ACDF;
}
header.entry-header {
    margin-bottom: 16px;
}
article header.entry-header h1.entry-title {
    margin: 0;
    padding: 0;
    margin-left: -9px;
    width: 100%;
}
article header.entry-header h1.entry-title a {
    color: #2d2d2d;font-size:28px;line-height:31px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
article header.entry-header h1.entry-title a:hover {
    color: #00ACDF;
}
.post .entry-content {
    text-align: left;
}
.page-content, .entry-content, .entry-summary {
    margin: 20px 0 0;
}
.entry-content h2{font-size:16px !important;color:#2d2d2d !important;}
    .entry-content h2 span{color:#2d2d2d !important;}
.entry-content ul, .entry-content ol {
    padding-left: 20px;text-align:left;
}
.entry-content ul li{list-style: none;}
.entry-content a{font-size:14px;margin:
    0px 0px 15px;
    line-height:23px;color:#2d2d2d !important;font-weight:700;font-family: "Open Sans", sans-serif;   
}
.entry-content p{
    font-size:14px;margin:
    0px 0px 15px;
    line-height:23px;color:#2d2d2d !important;font-weight:400;font-family: "Open Sans", sans-serif;   
}
.entry-content a:hover{color:#00ACDF !important;
    font-size:14px;line-height:23px;
}
nav.flex.items-center.justify-between span.relative.inline-flex.items-center{color: #000;
    font-weight: 700;   border: 1px solid #e5e5e5;
padding:8px 15px;margin:0px -4px;
    display: inline-block;
   }
   span.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-r-md.leading-5 {
    padding: 8px 15px !important;
}
.prev,.next{
    color: #000;
    font-weight: 700;
    padding: 10px 40px;
}
/* Sidebar */
.sidebar_inner {
    background-color: #ffffff !important;
    color: #000000;
    padding-top: 0px !important;
    padding-bottom: 30px;
}

.sidebar_inner .widget{margin: 0 0 40px;
    background-color: #fff;
    box-shadow: 0 0 1px rgb(0 0 0 / 15%);
    padding: 20px;
    margin-left: 20px;
}
#searchform input#s {
    padding: 10px 13px;
    border-radius: 0;
    width: 100%;    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 23px;
    color: #666;
    border: 1px solid #ccc;
    -webkit-font-smoothing: antialiased;
}
.widget_title {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 16px !important;line-height:18px !important;
    color: #000 !important;
    margin-bottom: 20px !important;
    padding-bottom: 16px !important;
    text-align: center !important;
    letter-spacing:normal !important;
    margin:0px 0px 20px;
    padding:0px 0px 16px;
}
.widget ul {
    padding-left: 20px !important;
    margin: 0;
    list-style: none;
}
.widget li:first-child {
    padding-top: 0;
}

.widget li {
    margin-bottom: 0;
    padding: 0px 0px 8px;
    position: relative;
    list-style: disc;
    color: #666;
}
.widget li:before{content:'' !important;width:0px !important;}
.widget li a {
    font-size: 14px;
    color: #666;line-height:23px;
}
.widget li a:hover{
 color:#00ACDF;
}
.widget li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

/*Social Icon*/
.swp_social_panel a .swp_count.swp_hide {
    margin: 0 auto;
}
.swp_social_panel span.swp_count {
    font-size: 14px;
}
.swp_social_panel span.iconFiller {
    font-size: 18px;
    margin: 0 auto;
}

.swp_social_panel .iconFiller {
    width: 36px;
}
.iconFiller {
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    -webkit-transition: width .1s linear;
    transition: width .1s linear;
}
.swp_social_panel .iconFiller:hover{width:82px;}
span.spaceManWilly {
    width: 120px;
   
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    margin: 0 0 0 6px;
    max-width: none!important;
    vertical-align: middle;
}
.swp_social_panel .fa{
    float: left;
    height: 30px;
    line-height: 32px;
    margin: 0 5px;
    text-shadow: none!important;
    width: 20px;
}
.fa {
    display: inline-block;
   
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    text-transform: none!important;
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}


.sw:before {
    display: block!important;
}
span.swp_share {
    display: block;
    float: right;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    margin: 0 0 0 6px;
    max-width: none!important;
    vertical-align: middle;
}
.swp_social_panel .total_shares .swp_count, span.swp_share {
    line-height: 30px;
}
.swp_social_panel .nc_tweetContainer a.nc_tweet, .swp_social_panel .total_shares .swp_count{
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Lato,sans-serif;
    font-size: 18px!important;
    font-weight: 700;
    height: 30px;
    text-decoration: none;
    text-decoration: none!important;
    text-transform: none;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.swp_social_panel.swp_default_dark_gray a, .swp_social_panel.swp_default_full_color a, .swp_social_panel.swp_default_light_gray a, .swp_social_panel.swp_default_medium_gray a, body .swp_social_panel.swp_other_dark_gray:hover a, body .swp_social_panel.swp_other_full_color:hover a, body .swp_social_panel.swp_other_light_gray:hover a, body .swp_social_panel.swp_other_medium_gray:hover a, html body .swp_social_panel.swp_individual_dark_gray a:hover, html body .swp_social_panel.swp_individual_full_color .nc_tweetContainer:hover a, html body .swp_social_panel.swp_individual_light_gray .nc_tweetContainer:hover a, html body .swp_social_panel.swp_individual_medium_gray a:hover {
    color: #fff;
}
.swp_social_panel.swp_default_full_color .swp_facebook, body .swp_social_panel.swp_other_full_color:hover .swp_facebook, html body .swp_social_panel.swp_individual_full_color .swp_facebook:hover{background: #3a589e;
    border: 1px solid #2e4675;}
.swp_social_panel.swp_default_full_color .swp_twitter, body .swp_social_panel.swp_other_full_color:hover .swp_twitter, html body .swp_social_panel.swp_individual_full_color .swp_twitter:hover {
        background: #429cd6;
        border: 1px solid #3c87b2;
}

.swp_social_panel.swp_default_full_color .swp_linkedin, body .swp_social_panel.swp_other_full_color:hover .swp_linkedin, html body .swp_social_panel.swp_individual_full_color .swp_linkedin:hover {
        background: #0d77b7;
        border: 1px solid #0c6591;
}
div.swp_social_panel:not(.swp_social_panelSide) .nc_tweetContainer {
     -webkit-box-flex: 1; 
    -moz-box-flex: 1;
     -webkit-flex: 1; 
    -ms-flex: 1;
     flex: 1; 
     
}
.swp_social_panel:not(.swp_social_panelSide){-webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;}
    .nc_wrapper .swp_social_panel {
        margin-bottom: 10px!important;
        margin-top: 10px!important;
    }
    .nc_floater {
        margin: 10px 0;
        left: 304px;position: relative;
        width: 740px;
    }
    .nc_tweetContainer:hover .iconFiller {
        width: 92px;
    }
    .swp_social_panel {
        clear: both;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        height: 34px;
        line-height: 1;
        margin-bottom: 20px!important;
        margin-top: 20px!important;
        overflow: hidden;
        padding: 0;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        direction: ltr;
        -ms-flex-align: stretch;
        -ms-flex-line-pack: center;
        -ms-flex-pack: justify;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
div.swp_social_panel .nc_tweetContainer {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    font-family: Lato;
    height: 32px;
    margin: 0 5px 3px;
    min-width: 34px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.swp_social_panel:not(.nc_floater):not(.swp_social_panelSide){width: 100%!important;}
.swp_social_panel:not(.swp_social_panelSide) .nc_tweetContainer:nth-child(1) {
    margin-left: 0;
}
div.swp_social_panel:not(.swp_social_panelSide) .nc_tweetContainer:hover{
    flex:1.32287 1 0%;
}
.swp_social_panel span.swp_count:hover .iconFiller{
    width:92px;
}
.nc_tweetContainer.swp_twitter{margin:0px 4px;}
span.swp_share {
    display: block;
    float: right;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    margin: 0 0 0 6px;
    max-width: none!important;
    vertical-align: middle;
}
.swp_social_panel .total_shares .swp_count, span.swp_share {
    line-height: 30px;
}
.nc_wrapper.bottom {
    bottom: 0;
    left: 0;
}
.fixedbottom {
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 0;
    width: 100%;
}
.scroll-up {
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}
.nc_wrapper {
    background: #fff;
    position: fixed;
    -webkit-transition: top .5s bottom .5s;
    transition: top .5s bottom .5s;
    width: 100%;
    z-index: 99999;
}
nav.flex.items-center.justify-between span.relative.inline-flex.items-center svg.w-5.h-5,
a.relative.inline-flex.items-center svg
{width:20px;height:20px;}
.flex.justify-between.flex-1.sm\:hidden{display:none;}
p.text-sm.text-gray-700.leading-5 {
    display: none;
}
a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
    color:#000; border: 1px solid #e5e5e5;
    padding: 8px 15px;margin:0px -4px;
    display: inline-block;
}
span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5
{color:#fff;   background-color: #00ACDF !important;
    border-color: #e5e5e5;    border: 1px solid #e5e5e5;
 }
 span.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5{padding:8px 15px !important;}
a.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-l-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150,
a.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150{
    border: 1px solid #e5e5e5;
    padding: 8px 15px !important;margin:0px -4px;
    display: inline-block;
}
.hentry img,.hentry img.size-full{width:100% !important;height:100% !important;}