
body {
    font-family: "Montserrat", sans-serif;
}

.log_right {
    margin: auto;
    padding: 2px;
    background: #ee5da0;
    font-weight: 800;
    color: white;
    text-align: center;
    font-size: 12px;
}
.b-l {
    border-left: 1px solid black;
}

.t-a-c {
    text-align: center;
}

.ap-b {
    font-size: 14px;
    font-weight: bold;
}
.w-80 {
    width: 80px;
}

.bk-img {
    width: 30px;
    height: 28px;
}

.border-20 {
    border-radius: 20px;
}
.bg-theme {
    background-color: #11aff0;
}

a{
    text-decoration: none;
}

a:hover {
 
    text-decoration: none;
}
/*==========Menu=v==========*/

.menu-area {
    background: #11aff0;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 15px;
    font-family: "Roboto", sans-serif;
    display: block !important;
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
    .mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.mainmenu ul ul li a,
.navbar-expand-lg .navbar-nav .nav-link {font-size:11px;padding:10px 8px;}
}
.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    color: #fff;
    outline: 0;
}

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    color: #000;
    text-decoration: none;
}

.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    color: #000;
    text-decoration: none;
}
.mainmenu .collapse ul ul ul > li:hover > a {
    text-decoration: none;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background: #11aff0;
    margin-top: 1px;
}
.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background: #11aff0;
    margin-top: 3px;
}
.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background: #11aff0;
    margin-top: 3px;
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}
@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none;
    }
    /*******/
    .mainmenu .collapse ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none;
    }
    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        display: block;
    }
    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1;
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .mainmenu ul ul li a {
        color: #fff;
        font-size: 14px;
        text-transform: capitalize;
        padding: 10px 8px;
        font-family: "Roboto", sans-serif;
        display: block !important;
        /* color: #000 !important; */
        line-height: 17px;
        padding-left: 25px;
        border-bottom: 1px solid;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
        color: #000;
        text-decoration: none;
        color: #000 !important;
        line-height: 17px;
        padding-left: 25px;
        border-bottom: 1px solid;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .menu-area {
        background: #f3f3f3;
    }
    .navbar-nav {
        background: #11aff0;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px;
    }
    .mainmenu .collapse ul ul,
    .mainmenu .collapse ul ul.dropdown-menu {
        background: #1565c0;
    }
    .mainmenu .collapse ul ul ul,
    .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #1e88e5;
    }
    .mainmenu .collapse ul ul ul ul,
    .mainmenu .collapse ul ul ul ul.dropdown-menu {
        background: #64b5f6;
    }
}


/*==========sidenav fixed==========*/
.sidebar {


    text-align: center;
    position: fixed;
    z-index: 1;
    top: 31%;

    right: 0;
  
    overflow-x: hidden;
  }
  
  .sidebar a {
    background-color: #11aff0;
    padding: 8px 15px 8px 7px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block; 
  }
  
  .sidebar a:hover {
    padding-right: 25px;
  }
  
 

  .sidebar2 {
 

    text-align: center;
    position: fixed;
    z-index: 1;
    top: 38%;

    right: 0;
  
    overflow-x: hidden;
  }
  
  .sidebar2 a {
    background-color: #11aff0;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
  }
  
  .sidebar2 a:hover {
     padding-right: 20px;
  }
  
 
  .sidebar3 {
    position: fixed;
    z-index: 1;
    top: 44%;

    right: 0;
  
    overflow-x: hidden;
  }
  
  .sidebar3 a {
    background-color: #11aff0;
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
  }
  
  .sidebar3 a:hover {
     padding-right: 20px;
  }

  .sidebar4 {
    position: fixed;
    z-index: 1;
    top: 50%;

    right: 0;
  
    overflow-x: hidden;
  }
  
  .sidebar4 a {
    background-color: #11aff0;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
  }
  
  .sidebar4 a:hover {
     padding-right: 20px;
  }

  .sidebar5 {
    position: fixed;
    z-index: 1;
    top: 56%;

    right: 0;
  
    overflow-x: hidden;
  }
  
  .sidebar5 a {
    background-color: #11aff0;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
  }
  
  .sidebar5 a:hover {
     padding-right: 20px;
  }



/*==========footer section==========*/
.footer-section .f{
    padding: 40px 0px;
}
.footer-section .f-tit{
    font-weight:bold;
 padding-bottom: 10px;
}
.footer-section .f-rights{
padding-top: 10px;
background-color: #ee5da0;
}
.footer-section .line{
    border-top: 1px solid #fff;
    width:80%
}
.footer-section .f-rights a{
color:#fff;
}

.footer-section .f-rights a:hover{
   
    color:#000;
    text-decoration: underline;
    }

    .footer-section  .f-button{
        padding-left: 20px;
    }
.contacts_address{
    color: #fff; 
    font-size: 14px;
}
.contacts-address-icon{
    font-weight: 500; color: #000;
}
.social_icons {
    background-color: #f6a2de;
    color: #ffffff;
}
.social_icons {
    display: inline-block;
    width: 2.429em;
    height: 2.429em;
    line-height: 2.429em;
    text-align: center;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social_icons:hover {
    background-color: #11aff0;
    color: #ffffff;
}
.social-item{  
   padding-right:5px;
}
.contacts-address-social-icons{
    padding-top:20px;
}

/*==========home page sections==========*/
.section-padding{
    padding:50px 0px;
}

.sc_title {
    padding:20px 20px;
    text-align: center;    font-size: 30px !important;
    font-family: poppins !important;
    letter-spacing: .05rem !important;
}
.about-centers-section{
    padding:0px 0px 25px 0px;
}


.fixed {
    position: fixed;
    z-index: 11;
    top:0; left:0;
    width: 100%; }
   
#country_code {
    width: 100% !important;
    padding: 4px;
    height: 200px !important;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1;
    margin-top: 10px;
}
.country_sel img {
	margin-right: 5px;
}
li.country_sel {
	display: flex;
}
.sc_button_text {
    background: linear-gradient(to right, #f6a2de 50%, #11aff0 50%) no-repeat scroll right bottom / 210% 100% #11aff0 !important;
    padding: 20px 60px;
    border-radius: 100px;
    color: #fff;

}

.sc_button_text:hover{
    background-position: left bottom !important;
    background-color: #f6a2de;
}


 .sc_item_button {
    margin-top: 20px;
}

.sc_title {
    padding: 20px 20px;
}



/*==========ALL pages layout styles==========*/
.layout-top-padding{
    margin-top :100px;
}

.services_page_title {
    font-size: 1.643em;
    letter-spacing: 0;
    margin-top: 1.55em;
    margin-bottom: 1.35em;
}

.read-more{
    display:none;
}

/*========side nav for ALL pages layout styles=============*/

@media (min-width: 480px) and (max-width: 767px){
    .sidebar_inner {
    display: none;
   
}

}
.sidebar_inner {
    background-color: #f5f5f5;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 30px;
}

.widget {
    padding: 0 1rem;
    color: #000;
}

.widget .widget_title, .widget .widgettitle {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.15em;
    letter-spacing: -2.2px;
}

.widget ul {
    margin: 0;
    padding-left: 2.9em;
    list-style-type: none;
}


.widget li>a,  .widget .post_title>a {
    color: #414141;
 
}

.widget li>a:hover {  
    text-decoration: underline;
}

.widget li:before {
    color: #ffffff;
    background-color: #000;
    font-family: 'Sen', sans-serif;
    position: relative;
    content: '\e836';
    font-size: 1em;
    width: 1.786em;
    height: 1.786em;
    line-height: 1.87em;
    text-align: center;
    display: inline-block;
    left: -2.9em;
    top: -0.15em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold;
}

.widget li {
 padding-top: 10px;
}

/*========side nav =============*/
.footer-section{
    border-top:1px solid #ee5da0;
    color: #fff;margin-top:60px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
ul#location-mob{    top: 12px !important;
    left: -40px !important;}
@media only screen and (min-width: 1024px) and (max-width:1200px){
    ul#location-mob{    top: 12px !important;
        left: -57px !important;}
        .mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .mainmenu ul ul li a, .navbar-expand-lg .navbar-nav .nav-link{font-size:13px;}
    }
    
    @media only screen and (min-width: 820px) and (max-width:1000px){
        ul#location-mob{    top: 12px !important;
            left: -96px !important;}
            .mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .mainmenu ul ul li a, .navbar-expand-lg .navbar-nav .nav-link{font-size:13px;}
       
    }

    @media only screen and (min-width: 800px) and (max-width:819px){
        ul#location-mob{    top: 12px !important;
            left: -75px !important;}
            .mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .mainmenu ul ul li a, .navbar-expand-lg .navbar-nav .nav-link{font-size:11px;}
        }
@media only screen and (min-width: 768px) and (max-width: 799px) {
.col-lg-2.col-md-12.col-sm-12.col-xs-12.col-xl-12 .logo-img img{
    width:60%;margin:0px auto;height:auto;
}
ul#location-mob{    top: 12px !important;
    left: -38px !important;}
}

.top_panel .top_panel_top_contact_area {
    padding: 5px 0;
    text-align: center;
}
.sheme_default .top_panel .contact_phone {
    color: #414141;
}
.top_panel .contact_phone {
    line-height: 2rem;
}
.top_panel .contact_phone {
    font-size: 1.214em;
    font-weight: 600;
}
.top_panel .contact_phone .dropdown {
    margin: auto;
}
#callus {
    position: relative !important;
}
.top_panel .contact_phone .btn {
    outline: none !important;
    width: 100%;
    border-radius: 25px;
}
.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}

.top_panel .dropdown-menu {
    padding: 0px 0;
    left: -35px;
}
.top_panel .dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li {
    border-bottom: 1px solid #11aff0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.top_panel .dropdown-menu li h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu h5 {
    color: #00aff0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, address, section, video, audio {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
    button.navbar-toggler.collapsed {
        margin: 0px 20px;
    }
    .navbar-light .navbar-toggler{
     color:#000;border:0px;margin:0px 30px;   
    }
}

li.country_sel{color:#000;}
.book-form-section .shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.book-form-section .bg-light {
    background-color: #F2FAFF !important;
}

.book-form-section .homepage-form {
    padding: 30px;
    background-color: white;
    z-index: 1000;
    margin-top: 30px;
}


.book-form-section .err-msg {
    display: none;
}

.book-form-section .select_container select {
    background: #11aff0 !important;
}

.book-form-section .book-form-control {
    background-color: #11aff0 !important;
    border: 1px solid #11aff0 !important;
    color:#fff !important;font-weight:700;font-size:16px;
    line-height:22px;font-family:sen;
}

@media only screen and (min-width: 800px) and (max-width:1200px){
.book-form-section .book-form-control {font-size:12px;}
}
#TxtRemarks{
color: #000000;min-height:6.5rem;font-family:sen;font-weight:400;
border-color: #e5e5e5;}
#TxtRemarks:focus{color:#000;border-color:#e5e5e5;background:#e5e5e5;}
.form-control {
display: block !important;
width: 100% !important;
padding: 0.375rem 0.75rem !important;
line-height: 1.6 !important;
background-clip: padding-box !important;
border-radius: 0.25rem !important;
}
::placeholder {color:#fff !important;}
@media only screen and (min-width: 768px){
    .phone_flex{
justify-content:normal;
    }
.Offerings-section.section-padding .col-xs-6.col-lg-2.col-md-2{-ms-flex: 0 0 207%;
flex: 0 0 20%;
max-width: 20%;}
}
