.section{
 padding:20px 10px;
}


.profile-text {
    /* transform: translate3d(0, -30%, 0); */
    padding: 3rem 1rem;
    min-height: 12rem;
}
.box-shadow {
    box-shadow: 0.3rem 0.3rem 1rem #ccc;
    max-height: 29.8rem;
}
.tab-holder a {
    color: #00aeef !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: 10px 15px !important;
    margin-right: 5px !important;
    border: 1px solid #ccd7e6 !important;
    border-radius: 3px !important;
    display: inline-block !important;
    margin-bottom: 10px !important;

}
.content-holder {
    display: none;
    border: 1px solid #ccd7e6;
    border-radius: 3px;
    padding: 20px;
    float: left;
    width: 100%;
}
.img-wrap img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-wrap p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    bottom: 0;
    background: #000;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* text-transform: uppercase; */
    line-height: 1.5em;
    height: 4em;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding: 8px;
}
.img-wrap {
    margin-bottom: 20px;
    cursor: pointer;
}
.tab-holder a:hover, .tab-holder a:visited, .tab-holder a:focus, .tab-holder a:active {
    background-color: #7992bc !important;
    color: #fff !important;
}
.blog_img {
    width: 250px;
    height: 150px;
}
.url-list li a {
    color: #337ab7;
}
.url-list li {
    margin-left: 10px;
    display: flex;
    margin-bottom: 15px;
    flex: 0 0 24%;
}
.wpb_content_element p, .content-holder li, .content-holder p {
    font-size: 15px;
}
.url-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-caption{
    position:absolute;
    top:10%;
}

.sc_testimonials_item_content:before {
    color: #ffffff;
}

.sc_testimonials_item_content::before {
    content: "“";
    font-size: 5em;
    font-weight: 300;
    line-height: 0.1em;
    margin-top: 2.2rem;
    margin-bottom: -2.75rem;
    
}

.carousel-inner img {
    height: 450px;
    width: 100%;
    object-fit: cover; 
}
.carousel-caption h5{
    font-size: 2.2em;
}
.carousel-item{
background-image: url(./images/doctor/test-bg.jpg);
}


@media screen and (max-width: 600px) {
  
.sc_testimonials_item_content_responsive{
    font-size: 12px;
}
.sc_testimonials_item_content_more{
    font-size: 10px;
}
}

.mediabox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
}

.mediabox-content {
    max-width: 853px;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.mediabox-wrap {
    z-index: 1000000;
}
.mediabox-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: mediabox;
    animation-name: mediabox;
}