





/*========female-infertility =============*/
.services_page_title {
    font-size: 1.643em;
    letter-spacing: 0;
    margin-top: 1.55em;
    margin-bottom: 1.35em;
}

.read-more-btn, .read-more-btn {
    margin-bottom: 10px !important;
    background-color: #f6a2de;
    color: #fff;
    outline: none;
    padding: 12px 10px;
    line-height: 0;
    font-size: 13px;
    height: unset;
}


/*========ovulation-induction =============*/
.trt-img, .services_page_featured .trt-img {
    margin-bottom: 15px;
    display: block;
    width: 90%;
}




