
/*.section0{
	padding-bottom: 20px;
}*/

/*.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    z-index: 9;
    background-color: #fff;
}

.navbar-header {
    position: relative!important;
    width: 100%;
    top: -8px;
    z-index: 9;
}

.navbar-header{position: absolute;}
footer p {
       margin-bottom: .6rem;
}

.p-ab {
    position: absolute;
    width: 68px;
    top: 13%;
}

.b-head {
    background-color: #293560;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}
.b-head:hover {
    background-color: #00aeef;
   
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 19px;
    list-style: none;
    letter-spacing: 0;
    
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
  }*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.bookButton{
	background-color: #505050;
    border-radius: 20px;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    outline: none;
    width: 100%;
}

#button2{
	width: 280px;
}

.bookButton:hover{
	background-color: #00aeef;
}


.section1{
	background-image: url('https://www.nuhospitals.com/IVF/images/Banner with copy.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 45px;
	padding: 25px 0;
	/*margin-top: 99px;*/
}

.requestForm{
	border: 3px solid #A6DCED ;
	border-radius: 42px;
	background-color: white;
	padding: 30px;
}

.inputStyle{
	background-color: #eef6fd;;
	color: black;
	border-radius: 3px;
}

.confirmButton{
	background-color: #505050;
	border-radius: 32px;
	padding: 9px;
	color: white;
	width: 100%;
	font-size: large;
    font-weight: 600;
}

.inputCaption{
	font-size: small;
	font-weight: 400;
	padding-left: 11px;
}

.inputCaption2{
	font-size: small;
	font-weight: 400;
	padding-left: 17px;
}



.align{
	text-align: center;
}

.subsection1{
	display: flex;
	align-items: center;
}

.box{
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	padding: 25px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.box2{
	border: 1px solid black;
	border-radius: 20px;
	
	padding: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.list{
	color: #11507B;
	padding-left: 20px;
	font-weight: bold;
}

.title{
	font-family: 'Playfair Display', serif;
	padding: 20px 0;
	text-align: center;
}

.title1{
	font-family: 'Playfair Display', serif;
	padding: 20px 0;
	text-align: center;
}

.title2{
	font-family: 'Playfair Display', serif;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}

.listItems{
	font-size: large;
    font-weight: 400;
}

.listItems>li{
	padding-bottom: 20px;
}

.section3{
	padding:30px 0;
}



.p-size3{
	display: inline-block;
	font-size: large;
}

.subsection3{
	padding-bottom: 35px;
}

.conditionText{
	text-align: center;
}

 h5{
	color: #11507B;
	font-weight: 700;
	padding: 10px 0;
}

.conditionText p{
	font-size: larger;
}

.b-line{ 
	border-right: 1px solid;
}

.extrapad{
	padding-bottom: 64px;
}

.extrapad2{
	padding-bottom: 50px;
}

.extrapad3{
	padding-top: 21px;
}

.image{
	display: inline-block;
    vertical-align: middle;
}



.testimonial{
	padding: 20px;
}

.innertestimonial{
	border: 10px solid white;
	border-radius: 30px;
	padding: 25px;
}

.innertestimonial > p{
	font-size: 16px;
    color: #29355b;
}

/*.innertestimonial p{
	font-size: larger;
	font-weight: 600;
}*/

.p-size{
	display: inline-block;
	font-size: larger;
}

.p-size2{
	display: inline-block;
	font-size: larger;
}




@media (min-width: 320px) and (max-width: 800px){
	.b-line{ 
	border-right: none;
	}

}


@media (min-width: 320px) and (max-width: 375px){
	.title2{
		font-size: 26px;
	}

	.title1{
		font-size: 26px;
	}

	.p-size{
		display: inline-block;
		font-size: 12px;
	}

	.p-size2{
		display: inline-block;
		font-size: 11px;
	}

	.p-size3{
		display: inline-block;
		font-size: 11px;
	}

}

@media (min-width: 320px) and (max-width: 370px){
	.book{
		width: min-content;
	}
}

@media(min-width: 375px) and (max-width: 425px){
	.p-size{
		display: inline-block;
		font-size: 14px;
	}

	.p-size2{
		display: inline-block;
		font-size: 14px;
	}

	.p-size3{
		display: inline-block;
		font-size: 13px;
	}
}

@media (min-width: 425px) and (max-width: 700px){
	.p-size2{
		display: inline-block;
		font-size: 17px;
	}

	.p-size3{
		display: inline-block;
		font-size: 16px;
	}

	.p-size{
		display: inline-block;
		font-size: initial;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	.width-25{
		width: 22%;
	}

	.p-size{
		display: inline-block;
		font-size: 12px;
	}

	.p-size2{
		display: inline-block;
		font-size: 11px;
	}

	.p-size3{
		display: inline-block;
		font-size: 10px;
	}

}


@media (min-width: 320px) and (max-width: 475px){
	#button2{
		width: 100%;
	}
}